.sectionTitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.netWorthPartitions {
  display: flex;
  justify-content: space-between;
}

.netWorthPartition:hover {
  background-color: #bbf7d0;
}

.netWorthPartition {
  flex: 1 1;
  background-color: #fffdfd;
  padding: 10px;
  box-shadow: -8px 11px 5px #d7cfcf;
  text-align: center;
  margin-top: 20px;
  
}

.label {
  font-weight: bold;
}

.value {
  font-size: 1.2rem;
}
